<div class="d-flex" style="min-height: 100vh">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px">
    <a
      routerLink="/admin"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <span class="fs-4">Painel Admin</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          routerLink="/admin/produtos"
          class="nav-link text-white"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Gerenciar Produtos
        </a>
      </li>
      <li>
        <a routerLink="/admin/produtos/novo" class="nav-link text-white" routerLinkActive="active">
          Novo Produto
        </a>
      </li>
    </ul>
    <hr />
    <a routerLink="/" class="nav-link text-white"> Voltar ao Site </a>
  </div>

  <div class="flex-grow-1 p-4 bg-light">
    <router-outlet></router-outlet>
  </div>
</div>
