.cupcake-logo {
  height: 100px;
}

.navbar-expand-lg {
  background-color: #347eba;
}

.navbar-nav .nav-link.active {
  color: white !important; // !important para sobrescrever o padrão do Bootstrap
  font-weight: bold; // Opcional: para dar um destaque extra
}
