<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/cupcake_logo.png" alt="Cupcake Logo" class="cupcake-logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Cardápio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/sobre" routerLinkActive="active">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/unidades" routerLinkActive="active"
            >Unidades</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white position-relative" routerLink="/carrinho">
            <i class="bi bi-cart fs-4"></i>
            <span
              *ngIf="cartItemCount > 0"
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
              {{ cartItemCount }}
              <span class="visually-hidden">itens no carrinho</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container mt-4">
  <router-outlet></router-outlet>
</main>
