.card-img-top {
  transition: transform 0.3s ease;
  width: 100%;
  height: 300px;

  object-position: center;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.btn {
  background-color: #347eba;
  color: white;
}

.card {
  overflow: hidden;
}

.card-title {
  color: #0a090adc;
}

.card-text {
  color: #32cd32;
}
