<h2 class="mb-4">Gerenciar Produtos</h2>

<div *ngIf="carregando" class="text-center mt-5">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Carregando...Isso pode levar alguns minutos</span>
  </div>
</div>

<div *ngIf="!carregando">
  <div *ngIf="listaProdutos.length === 0" class="alert alert-info">
    Nenhum produto cadastrado.
    <a routerLink="/admin/produtos/novo" class="alert-link">Cadastre o primeiro!</a>
  </div>

  <table *ngIf="listaProdutos.length > 0" class="table table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Valor</th>
        <th scope="col" class="text-end">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of listaProdutos">
        <th scope="row">{{ produto.id_produto }}</th>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.valor | currency : 'BRL' }}</td>

        <td class="text-end">
          <a
            [routerLink]="['/admin/produtos/editar', produto.id_produto]"
            class="btn btn-sm btn-primary me-2"
          >
            Editar
          </a>

          <button (click)="abrirModalExclusao(produto)" class="btn btn-sm btn-danger">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="confirmDeleteModal"
  tabindex="-1"
  aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmação de Exclusão</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir o produto <strong>"{{ produtoParaExcluir?.nome }}"</strong>?
        Esta ação é irreversível.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmarExclusao()">Excluir</button>
      </div>
    </div>
  </div>
</div>
